<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Vue Course Goals</h1>
    </header>
    <section id="user-goal">
      <h2>Vue is awesome!</h2>
      <p>Read the docs at <a :href="vueLink" target="_blank">Vue</a></p>
      <p>Random Number = {{ randomNumber }}</p>
      <button @click="randomize(1000)">Randomize</button>
      <br><br><br>
      <input type="text" v-model="todo" placeholder="Type your todos">
      <button @click="addTodo">Add</button>
      <p v-if="todoLists.length === 0">You have no todo list.</p>
      <div v-else>
        <p v-for="(todoList, idx) in todoLists" @click="removeTodo(idx)">{{idx + 1}}. {{todoList}}</p>
      </div>
    </section>
  </body>
</html>
